@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

/* ---------------------------------------------------------- */
/* CUSTOM PROPERTIES */
/* ---------------------------------------------------------- */
:root {
    --color-white: white;
    --color-black: black;
    --color-darkgrey: grey;
    --color-grey: grey;
    --color-font-dark: black;
    --color-font-light: white;
    --color-primary-1: #70308c;
    --color-primary-2: #450a5e;
    --color-primary-3: #874ba1;
    --color-primary-4: #ab78c0;
}

/* ---------------------------------------------------------- */
/* Screen sizes */
/* ---------------------------------------------------------- */

/* 
mobile-screen: 600px;
tablet: 900px;
desktop: 1200px; 
*/

/* ---------------------------------------------------------- */
/* RESET */
/* ---------------------------------------------------------- */
:root {
    box-sizing: initial;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------------------------------- */
/* BACKGROUND PATTERNS*/
/* ---------------------------------------------------------- */

.bg-1 {
    position: absolute;
    top: 0px;
    left: -100px;
    z-index: -1;
    transform: rotate(-1deg);
    /* background-color: red; */
}

.bg-1 img {
    width: 1100px;
}

@media (min-width: 300px) {
    .bg-1 {
        /* border: 2px solid blue; */
        top: -50px;
        left: -200px;
        transform: rotate(-10deg);
    }

    .bg-1 img {
        width: 1000px;
        /* height: 100%; */
    }
}

@media (min-width: 550px) {
    .bg-1 {
        /* border: 2px solid red; */
        top: -200px;
        left: -100px;
        transform: rotate(-10deg);
    }

    .bg-1 img {
        width: 1200px;
        /* height: 100%; */
    }
}

@media (min-width: 970px) {
    .bg-1 {
        /* border: 2px solid orange; */
        top: -200px;
        left: 150px;
        transform: rotate(-10deg);
    }

    .bg-1 img {
        width: 2400px;
        height: 100vh;
        /* height: 100%; */
    }
}

/* ---------------------------------------------------------- */
/* TYPOGRAPHY */
/* ---------------------------------------------------------- */

body {
    position: relative;
    font-size: 1.125rem; /* 18px */
    line-height: 1.4;
    font-weight: 300;
    color: var(--color-font-dark);
}

h1 {
    font-size: 2.5rem; /* 40px */
    font-weight: 700;
}

h2 {
    font-size: 1.875rem; /* 30px */
}

h3 {
    font-size: 1.5625rem; /* 25px */
}

h4 {
    font-size: 1.25rem; /* 20px */
}

p {
    font-size: inherit;
}

ul {
    padding: 0;
    list-style-type: none;
}
li {
}

a {
    text-decoration: none;
    color: inherit;
}

/* ---------------------------------------------------------- */
/* THEME */
/* ---------------------------------------------------------- */

.dark {
    background-color: var(--color-black);
    color: var(--color-font-light);
}

/* ---------------------------------------------------------- */
/* CONTAINERS AND SECTIONS */
/* ---------------------------------------------------------- */

.container {
    width: 90%;
    max-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.section {
    margin-top: 1em;
}

.card {
    width: 100%;
    border: 1px solid black;
}

/* ---------------------------------------------------------- */
/* NAV HEADER*/
/* ---------------------------------------------------------- */

header {
    padding: 2em 10% 0 10%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo-title {
    color: var(--color-white);
    font-size: 1.4rem;
    font-weight: 700;
    text-align: left;
}

.logo img {
    width: 50px;
    height: 50px;
    background-color: var(--color-white);
    padding: 0.1em;
    border-radius: 100%;
    margin-right: 10px;
}

nav {
    margin: 1em auto 0 auto;
}

.nav-list {
    text-align: center;
    list-style: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--color-white);
}

.nav-list li {
    display: inline-block;
    padding: 0.2em 0em;
}

.nav-list a {
    padding: 0.2em 0.4em;
    border-bottom: 1px solid var(--color-primary-1);
    transition: all 0.5s ease;
}

.nav-list a:hover {
    border-bottom: 2px solid var(--color-white);
}

.nav-list a:focus {
    outline: none;
    background-color: var(--color-primary-4);
    border-radius: 0.3em;
}

.nav-cta {
    display: none;
}

@media (min-width: 970px) {
    header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 7%;
        /* background-color: var(--color-primary-1); */
    }

    .logo-title {
        display: none;
        font-size: 0.9rem;
        text-transform: uppercase;
    }

    .logo img {
        width: 60px;
        height: 60px;
        padding: 0.2em;
    }

    nav {
        margin: 0 1em 0 auto;
    }

    .nav-cta {
        display: block;
        font-size: 0.8rem;
        font-weight: 400;
    }

    .nav-list {
        font-weight: 300;
    }

    .nav-list li {
        padding: 0 0.4em;
    }
}

/* ---------------------------------------------------------- */
/* BUTTONS */
/* ---------------------------------------------------------- */

.btn {
    display: inline-block;
    padding: 0.2em 1em;
    border-radius: 0.2em;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--color-primary-4);
    color: var(--color-white);
}

.btn-large {
    font-size: 1.3em;
}

.btn-small {
    font-size: 0.7em;
}

.btn-cta {
    display: inline-block;
}

.primary-dark {
    background-color: var(--color-primary-1);
    color: var(--color-white);
}

.primary-light {
    background-color: var(--color-white);
    color: var(--color-black);
    border: 1px solid var(--color-primary-2);
}

.btn-secondary {
}

.button-container {
    border: 1px solid red;
    margin: 0 auto;
}

/* ---------------------------------------------------------- */
/* FOOTER */
/* ---------------------------------------------------------- */

footer {
    display: block;
    background-color: grey;
    padding: 1rem;
    border-radius: 5px;
    margin-top: auto;
}

/* ---------------------------------------------------------- */
/* SECTION CONTENT */
/* ---------------------------------------------------------- */

.title {
    margin: 0.2em 0;
    color: var(--color-primary-1);
}

.description {
    margin: 0.5em 0;
}

/* ---------------------------------------------------------- */
/* HERO */
/* ---------------------------------------------------------- */

.hero {
    border-radius: 10px;
    color: var(--color-font-light);
    padding: 0.2em 1em;
    background-color: hsla(0, 0%, 0%, 0.1);
}

.hero-text {
    margin-bottom: 1em;
}

.hero-text .title {
    color: var(--color-white);
}

.hero-img {
    max-height: 250px;
    overflow: hidden;
    border: 5px solid white;
}

.hero-img img {
    display: block;
    max-width: 100%;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-white);
}

@media (min-width: 600px) {
    .hero {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 1em;
        align-items: center;
        max-height: 70vh;
        overflow: hidden;
    }
    .hero-img {
        width: 50%;
        margin-right: 1em;
    }
    .hero-text {
        width: 50%;
    }
}

/* ---------------------------------------------------------- */
/* NOTICE */
/* ---------------------------------------------------------- */

.notice {
    border-radius: 10px;
    padding: 1em 1.5em;
    margin-top: 0.5em;
    background-color: hsla(0, 0%, 100%, 0.7);
    border: 1px solid var(--color-grey);
}

.notice .title {
    text-align: center;
}

.notice .description {
    font-size: 1rem;
}

@media (min-width: 600px) {
    .notice {
        max-width: 500px;
        margin: 0 auto;
        margin-top: 2em;
    }
}

/* ---------------------------------------------------------- */
/* HIGHLIGHTS */
/* ---------------------------------------------------------- */
.featured {
    border: 1px solid red;
}

.featured-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.featured-header .btn {
    align-self: center;
}

.featured-cards {
    border: 1px solid green;
}

.event-img img {
    max-width: 100%;
}

@media (min-width: 900px) {
    .featured-header {
        max-width: 50%;
    }
    .featured-header .btn {
        align-self: flex-start;
    }
}

/* ---------------------------------------------------------- */
/* PROGRAMMES */
/* ---------------------------------------------------------- */

.programmes {
}
.programmes-header {
}
.programmes-list {
}
.programme-img img {
    max-width: 100%;
}

/* ---------------------------------------------------------- */
/* PARTICIPATE */
/* ---------------------------------------------------------- */
.participate {
}
.participate-header {
}
.participate-list {
}
.participate-img img {
    max-width: 100%;
}

/* ---------------------------------------------------------- */
/* SPONSORS */
/* ---------------------------------------------------------- */

.sponsors {
}

.sponsors-header {
}

.sponsors-logo {
    max-width: 100%;
}
