@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* ---------------------------------------------------------- */
/* RESET */
/* ---------------------------------------------------------- */
:root {
    box-sizing: initial;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

/* ---------------------------------------------------------- */
/* TYPOGRAPHY */
/* ---------------------------------------------------------- */

body {
    font-size: 1.125rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.7rem;
}

h4 {
    font-size: 1.5rem;
}

p {
    font-size: inherit;
}

ul {
    padding: 0;
    list-style-type: none;
}
li {
}

a {
    text-decoration: none;
    color: black;
}

/* ---------------------------------------------------------- */
/* NAV HEADER*/
/* ---------------------------------------------------------- */

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    margin-right: auto;
    width: 50px;
    cursor: pointer;
}

nav {
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: purple;
}

/* ---------------------------------------------------------- */
/* BUTTONS */
/* ---------------------------------------------------------- */

.btn {
    background-color: darkgrey;
    color: white;
    padding: 0.3em 1.3em;
    margin-left: 16px;
    border-radius: 0.3em;
    transition: all 0.3s ease 0s;
}

.btn:hover {
    background-color: grey;
}

.btn-large {
    font-size: 1.3em;
}

.btn-small {
    font-size: 0.7em;
}

.btn-cta {
}

/* ---------------------------------------------------------- */
/* CONTAINERS AND SECTIONS */
/* ---------------------------------------------------------- */

.container {
    width: 90%;
    max-width: 960px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.card {
    width: 100%;
    border: 1px solid black;
}

/* ---------------------------------------------------------- */
/* FOOTER */
/* ---------------------------------------------------------- */

footer {
    display: block;
    background-color: grey;
    padding: 1rem;
    border-radius: 5px;
    margin-top: auto;
}

/* ---------------------------------------------------------- */
/* BUTTON */
/* ---------------------------------------------------------- */

.btn {
}

.btn-cta {
}

.btn-primary {
}

.btn-secondary {
}

/* ---------------------------------------------------------- */
/* SECTION CONTENT */
/* ---------------------------------------------------------- */

.title {
    margin: 0.5em 0;
}

.description {
    margin: 0.5em 0;
}

/* ---------------------------------------------------------- */
/* HERO */
/* ---------------------------------------------------------- */

.hero {
}

.hero-text {
}

.hero-img {
}

.hero-img img {
    max-width: 100%;
}

/* ---------------------------------------------------------- */
/* NOTICE */
/* ---------------------------------------------------------- */

.notice {
}

/* ---------------------------------------------------------- */
/* HIGHLIGHTS */
/* ---------------------------------------------------------- */
.highlights {
}
.hightlights-header {
}
.hightlights-cards {
}
.highlights-list {
}
.event-img img {
    max-width: 100%;
}
/* ---------------------------------------------------------- */
/* PROGRAMMES */
/* ---------------------------------------------------------- */

.programmes {
}
.programmes-header {
}
.programmes-list {
}
.programme-img img {
    max-width: 100%;
}

/* ---------------------------------------------------------- */
/* PARTICIPATE */
/* ---------------------------------------------------------- */
.participate {
}
.participate-header {
}
.participate-list {
}
.participate-img img {
    max-width: 100%;
}

/* ---------------------------------------------------------- */
/* SPONSORS */
/* ---------------------------------------------------------- */

.sponsors {
}

.sponsors-header {
}

.sponsors-logo {
    max-width: 100%;
}
